.nav-link {
    color: #ffffff;
    text-decoration: none !important;
}
    
    .nav-link:hover {
        color: #ffd800;
    }

.navbar-brand {
    color: #ffffff;
    text-decoration: none !important;
}

    .navbar-brand:hover {
        color: #ffd800;
    }

#navbar {
    background: #c51349;
}    

.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #c51349;
}

#footer2 {
    background: #000000;
}

.img-fluid {
    height: auto;
    width: 100%;
}